.filter-form {
	height: 230px;
    padding: 8px;
}

.filter-form .group-elements {
	text-align: left;
	margin: 5px 0;
	width: 100%;
}

.filter-form .group-elements input {
	width: 98%;
	height: 25px;
}

.filter-form button {
	cursor: pointer;
	margin-top: 7px;
    width: 28%;
    height: 30px;
    float: right;
}

.filter-form button:hover{
  	background-color: #113038; 
  	color: #c0d0c4;
}